.plansSection-container{
  background-color: var(--fourth-color);
  background-color: var(--border-color);
  background-color: #f9f9f9;
}
.plansSection-container .plansSection-content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.plansSection-container .plansSection-content .card{
  width: calc(96%/3);
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--border-color);
  background-color: var(--third-color);
  padding: 30px;
  /* border: 1px solid red; */
  transition-duration: var(--transition-duration);
  position: relative;
}

/* .plansSection-container .plansSection-content .card:hover  */
.plansSection-container .plansSection-content .card .cardHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.plansSection-container .plansSection-content .card .cardHeader .icon{
  color: var(--primary-color);
}
.plansSection-container .plansSection-content .card .cardHeader p{
  color: var(--fourth-color);
}
.plansSection-container .plansSection-content .card .cardHeader p span{
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
}
.plansSection-container .plansSection-content .card ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.plansSection-container .plansSection-content .card ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plansSection-container .plansSection-content .card ul li p{
  font-size: 16px;
  color: var(--fourth-color);
}
.plansSection-container .plansSection-content .card ul li .icon{
  color: var(--primary-color);
}
.plansSection-container .plansSection-content .card button{
  background-color: var(--primary-color);
  color: var(--third-color);
  font-weight: 500;
}
.plansSection-container .plansSection-content .card button:after{
  background-color: var(--secondary-color);
  color: red;
}


/* the action that happend on card while hover */
.plansSection-container .plansSection-content .card,
.plansSection-container .plansSection-content .card .cardHeader .icon,
.plansSection-container .plansSection-content .card::after,
.plansSection-container .plansSection-content .card:hover button,
.plansSection-container .plansSection-content .card:hover ul li .icon
{
  transition-duration: var(--transition-duration);
}
.plansSection-container .plansSection-content .card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  z-index: 0;
}
.plansSection-container .plansSection-content .card:hover::after{
  height: 100%;
}
.plansSection-container .plansSection-content .cardHeader,
.plansSection-container .plansSection-content ul{
  z-index: 1;
}
.plansSection-container .plansSection-content .card:hover .icon,
.plansSection-container .plansSection-content .card:hover ul li .icon{
  color: var(--third-color) !important;
}
.plansSection-container .plansSection-content .card:hover p,
.plansSection-container .plansSection-content .card:hover .cardHeader p span{
  color: var(--secondary-color) !important;
}
.plansSection-container .plansSection-content .card:hover button{
  background-color: var(--third-color);
  color: var(--secondary-color);
}
.plansSection-container .plansSection-content .card button::after{
  background-color: transparent !important;
}