.threeCards-container .threeCards-content{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: -75px;
  width: 100%;
}
.threeCards-container .threeCards-content .card{
  width: calc(95%/3);
  min-width:300px ;
  height: clamp(11.25rem, 10.1881rem + 4.5307vw, 15.625rem);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin:0 !important;
  padding: 30px;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: var(--third-color);
  justify-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  bottom: 0;
  position: relative;
  transition: all var(--transition-duration) ease;
  overflow: hidden;
  z-index: 1;
}
.threeCards-container .threeCards-content .card:hover{
  box-shadow: 4px 0px 5px #00000036;
  bottom: 10px;
}
.threeCards-container .threeCards-content .card::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 0%;
  transition: height ease-in var(--transition-duration);
  z-index: -1;
  clip-path: polygon(10% 10%, 100% 10%, 100% 100%, 0% 100%);
}
.threeCards-container .threeCards-content .card:hover:after{
  height: 30%;
}
.threeCards-container .threeCards-content .card .icon{
  position: absolute;
  right: -30px;
  bottom: -40px;
  transform: translate(-0% , 0);
  color: white;
  opacity: .2;
}

.threeCards-container .threeCards-content .card button{
  color: var(--third-color);
  background-color: transparent;
  padding: 0;
}
.threeCards-container .threeCards-content .card button:after{
  width: 0;
}