.lastVisits-container{
  background-color: var(--border-color);
}
.lastVisits-content{
  overflow: auto;
}
.lastVisits-container .lastVisits-content table tbody tr{
  transition-duration: var(--transition-duration);
  font-size: 14px;
}
.lastVisits-container .lastVisits-content table tbody tr:hover{
  background-color: var(--border-color);
}
.lastVisits-container .lastVisits-content td.attachments{
  cursor: pointer;
}
.lastVisits-container .lastVisits-content .modal{
  max-width: 660px;
  max-height: 90%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lastVisits-container .lastVisits-content .modal .icon{
  color: var(--secondary-color);
  position: sticky;
  display: flex;
  text-align: right;
  background-color: transparent;
  justify-content: flex-end;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}
.lastVisits-container .lastVisits-content .modal .images{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.lastVisits-container .lastVisits-content .modal .images .image{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lastVisits-container .lastVisits-content .modal .images img{
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: square;
  border-radius: 10px;
}
.lastVisits-container .lastVisits-content .btns{
  display: flex;
  gap: 5px;
}
.lastVisits-container .lastVisits-content .modal .images .image button{
  background-color: var(--secondary-color);
  color: var(--third-color);
  font-size: smaller;
  font-size: 12px;
  font-weight: 200;
  padding: 10px 15px;
}
.lastVisits-container .lastVisits-content .modal .images .image button:hover:after{
  background-color: var(--primary-color);
}
.lastVisits-container .lastVisits-content .modal p{
  font-size: larger;
  text-transform: capitalize;
}
.lastVisits-container .lastVisits-content .modal .images .image .icon{
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 7px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--third-color);
}
.lastVisits-container .lastVisits-content .uploadedModal{
  display: flex;
  /* gap: 10px; */
  justify-content: center;
}
.lastVisits-container .lastVisits-content .upload{
  flex: 1;
  flex-shrink: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.lastVisits-container .lastVisits-content .upload .icon{
  color: var(--primary-color);
}
.lastVisits-container .lastVisits-content .uploadedImages{
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
}
.lastVisits-container .lastVisits-content .uploadedImages .image{
  position: relative;
  width: 70px;
}
.lastVisits-container .lastVisits-content .uploadedImages .image:hover .imageOverLay{
  opacity: .8;
}
.lastVisits-container .lastVisits-content .uploadedImages .image .imageOverLay{
  cursor: pointer;
  color: var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  opacity: 0;
  inset: 1;
  height: 100%;
  width: 100%;
  z-index: 11;
  transition-duration: var(--transition-duration);
}
.lastVisits-container .lastVisits-content .uploadedImages img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}