.aside-container{
  background-color: var(--primary-color);
  height: calc(100vh - 20px);
  border-radius: 0 20px 20px 0;
  top: 20px;
  position: sticky;
  z-index: 1;
}
.aside-container .aside-content{
  height: 100vh;
  width: 250px;
  opacity: 1;
  transform: translateX(0);
  transition: all var(--transition-duration) ease-in;
  z-index: 1;
  /* position: relative; */
}
.aside-content.close{
  z-index: -1;
  width: 0;
  overflow: hidden;
  opacity: 0;

}
.aside-container .aside-content .logo{
  margin-bottom: 20px;
}
.aside-container .aside-content ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside-container .aside-content ul li{
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--secondary-color);
  transition-duration: var(--transition-duration);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

}
.aside-container .aside-content ul li:hover{
  background-color: var(--third-color);
}
.aside-container .aside-content ul li a{
  color: var(--secondary-color);
  font-size: 16px;
}


.open-close-icon{
  position: absolute;
  /* left:250px; */
  left: 250px;
  top: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in var(--transition-duration);
  z-index: 99999999999999999999999999999999999999999999999999999999999999999;
}
.open-close-icon.close{
  left: 30px;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999;
}

/* another style for aside */

.layout-container >div:nth-child(2){
  margin: 0 20px !important;
}
.dash-nav-container{
  margin: 0 !important;
  padding: 0 !important;
}
.dash-nav-content{
  top: 0 !important;
}
.aside-container{
  border-radius: 0 10px 0px 0;
  padding: 0 !important;  
}
.aside-container .aside-content .logo{
  margin: 0;
  display: none;
}
.aside-container .aside-content{
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.aside-container .aside-content ul{
  gap: 0;
  color: var(--third-color);
  color: white;
}
.aside-container .aside-content ul li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 0;
  border-bottom: 1px solid var(--border-color);
}
.aside-container .aside-content ul li:hover{
  color: var(--secondary-color);
}
.aside-container .aside-content ul li:hover a{
  color: var(--secondary-color);
}
.aside-content.close{
  z-index: -1;
  width: 0;
  overflow: hidden;
  opacity: 0;
}
.aside-container .aside-content ul li a{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.open-close-icon{
  left: 100px;
  width: 30px;
  height: 30px;
  box-shadow: 4px 0px 5px #00000036;
}