.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffd4;
  /* opacity: .8; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.preloader img{
  margin-top: 0;
  width: clamp(10.9375rem, 9.0413rem + 8.0906vw, 18.75rem);
  animation: imgAnimation .3s ease-in-out;  
  transform: translateY(0px);
}
@keyframes imgAnimation {
  from{
    transform: translateY(-200px);
  }
  to{
    transform: translateY(0px);
  }
}
.preloader p{
  color: var(--primary-color);
  text-transform: uppercase;
  font-size:clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
  font-weight: 800;
  letter-spacing: clamp(0.0625rem, 0.017rem + 0.1942vw, 0.25rem);;
  font-family: 'Courier New', Courier, monospace;
}
