.three-container .three-content .information{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.three-container .three-content .information .info{
  /* background-color: red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.three-container .three-content .information .info p{
  color: var(--fourth-color);
  line-height: 27x;
}
.three-container .three-content .information .image{
  flex: 1;
  width: 100%;
  background: url('../../../Assets/Images/hands.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  min-height: 400px;
  transition-duration: var(--transition-duration);
  border-radius: var(--btn-border-radius);
}
.three-container .three-content .information .image:hover{
  transform: scale(.9);
}
.three-container .three-content .information .image img{
  width: 100%;
}