.notification-container{
  position: relative;
}
.notification-container .icon{
  color: var(--primary-color);
  height: 100%;
}
.notification-container .icon::after{
  position: absolute;
  content: "1";
  border-radius:50% ;
  width: 15px;
  height: 15px;
  top: -9px;
  left: 12px;
  color: var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  background-color: var(--secondary-color);
}
.notification-container .notifications{
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  z-index: 1111;
  position: fixed;
  width: 300px;
  max-height: 80vh;
  border-radius: 10px;
  padding: 10px 0;
  top: 135px;
  right: 00px;
  transform: translate(-50%,-50%);
  overflow-y: auto;
  overscroll-behavior: contain; /* أو ممكن تستخدم none */
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.25);

}
.notification-container .notifications h3{
  padding: 10px;
}
.notification-container .notifications .notification{
  align-items: center;
  justify-content: space-between ;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  display: flex;
  align-content: flex-start;

  gap: 5px;
  color: var(--secondary-color);
}
.notification-container .notifications .notification .image img{
  width: 50px;
  height: 50px;
}
.notification-container .notifications .notification p{
  font-size: 13px;
}