*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  padding: 30px 0;
}
.content{
  width: 80%;
  margin: auto;
}
.header.content{
  width: 50%;
  margin: auto;
}
.content .header p{
  font-size: 15px;
  color: var(--fourth-color);
}
h1,h2,h3,h4{
  text-transform: capitalize;
}
h2{
  color: var(--secondary-color);
  font-size: 32px;
}
h2.h-after-effect{
  color: var(--secondary-color);
  position: relative;
  width: fit-content;
}
h2.h-after-effect:after{
  position: absolute;
  content: "";
  left: 0;
  bottom: -20px;
  height: 3px;
  width: 50px;
  background-color: var(--primary-color);
  transition: width var(--transition-duration) ease-in;
}
h2.h-after-effect:hover::after{
  width: 100%;
}
p{
  line-height: 15px;
  font-size: large;
  line-height: 24px;

  /* font-size: 14px; */
}
a{
  text-decoration: none;
  font-size: 15px;
}
ul{
  list-style-type: none;
}
button ,a {
  text-transform: capitalize;
  cursor: pointer;
}
input{
  height: 50px;
  font-size: 14px;
}
textarea , input{
  border: 1px solid var(--border-color);
  transition-duration: var(--transition-duration);
  border-radius: 3px;
  padding: 20px;
}
textarea{
  resize: none;
  height: 200px;
  /* width: 100%; */
}
input:focus , textarea:focus{
  border-color: var(--primary-color);
}
.Toastify__toast-container{
  z-index: 9999999999999999999999;
}
/* two inputs */
.twoInputs{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
input::placeholder,
textarea,
td , th{
  text-transform: capitalize;
}
button , input ,textarea{
  font-size: 16px;
  outline: 0;
}
.container button{
  padding: 10px 20px;
  border-radius: var(--btn-border-radius);
  font-weight: 600;
  position: relative;
  transition-duration: var(--transition-duration);
  z-index: 1;
  overflow: hidden;
  border: none;
}
.container button:after{
  position: absolute;
  content: "";
  width: 100%;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: center;
  transform-origin:50% center;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--transition-duration);
  z-index: -1;
  /* border-radius: var(--btn-border-radius); */
}
button:hover:after{
  transform: scaleX(1);
}
.links{
  display: flex;
  gap: 15px;
}

/* table */
table{
  width: 100%;
  text-align: center;
  /* padding: 10px; */
  border: 0;
  border-collapse: collapse;
  background-color: var(--third-color);
  box-shadow: 0px 0px 10px #00000024;  
}
table tr td , th{
  padding: 30px;
}
table tr th{
  background-color: var(--primary-color);
  color: var(--third-color);
}
table tr td{
  font-size: larger;
}