.lastVisits-container{
  background-color: var(--border-color);
}
.lastVisits-content{
  overflow: auto;
}
.lastVisits-container .lastVisits-content table tbody tr{
  transition-duration: var(--transition-duration);
  font-size: 14px;
}
.lastVisits-container .lastVisits-content table tbody tr:hover{
  background-color: var(--border-color);
}
.lastVisits-container .lastVisits-content td.attachments{
  cursor: pointer;
}
.lastVisits-container .lastVisits-content .modal{
  max-width: 660px;
  max-height: 90%;
  overflow: auto;
}
.lastVisits-container .lastVisits-content .modal .icon{
  color: var(--secondary-color);
  position: sticky;
  display: flex;
  text-align: right;
  background-color: transparent;
  justify-content: flex-end;
  top: 0px;
  cursor: pointer;
}
.lastVisits-container .lastVisits-content .modal .images{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.lastVisits-container .lastVisits-content .modal .images .image{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.lastVisits-container .lastVisits-content .modal .images img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.lastVisits-container .lastVisits-content .modal .images .image button{
  background-color: var(--secondary-color);
  color: var(--third-color);
  font-size: smaller;
  font-size: 12px;
  font-weight: 200;
  padding: 10px 15px;
}
.lastVisits-container .lastVisits-content .modal .images .image button:hover:after{
  background-color: var(--primary-color);
}
.lastVisits-container .lastVisits-content .modal p{
  font-size: larger;
  text-transform: capitalize;
}