.navbar-container{
  background-color: var(--third-color); 
  /* overflow: hidden; */
  padding: 0 !important;
  border-bottom: 1px solid var(--border-color);

}
.navbar-container .navbar-content{
  height: 8vh;
  min-height: 65px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container .navbar-content .links {
  height: 100%;
  gap: 15px;
}
.navbar-container.animated{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999 !important;
  box-shadow: 0px 0px 13px #00000054;
  animation: navbarAnimation .6s ease-in;
}
@keyframes navbarAnimation {
  from{
    top: -100px;
  }
  to{
    top: 0;
  }
}
.navbar-container .navbar-content .links a{
  color: var(--secondary-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: var(--transition-duration);
}
.navbar-container .navbar-content .links a:hover{
  color: var(--primary-color);
}
.navbar-container .navbar-content .links a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  bottom: -2px;
  transform: scale(0);
  transform-origin: left;
  transition: transform var(--transition-duration) ease-in;
  border-radius: 3px;
}
.navbar-container .navbar-content .links a:hover::after{
  transform: scale(1);
}
.navbar-container .navbar-content .btns{
  display: flex;
  /* align-items: center; */
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  
}
.navbar-container .navbar-content .btns .moon-sun-icon{
  background-color: var(--primary-color);
  color:var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
}
.navbar-container .navbar-content .btns button{
  background-color: var(--primary-color);
  background-color: transparent;
  color: var(--third-color);
  background-color: var(--primary-color);
  /* padding: 7px 15px; */
}
.navbar-container .navbar-content .btns button:first-child{
  border-radius:var(--btn-border-radius) 0 0 var(--btn-border-radius);
  /* margin-right: -8px; */
}
.navbar-container .navbar-content .btns button:nth-child(2){
  border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
  /* margin-left: -8px; */
}
.navbar-container .navbar-content .btns button:hover:after{
  transform: scale(1);
  background-color: var(--secondary-color);
}
.navbar-container .navbar-content .icon{
  color: var(--primary-color);
  cursor: pointer !important;
  display: none;
  z-index: 99999999 !important;
  transition-duration: var(--transition-duration);
}
.navbar-container .navbar-content .icon:hover{
  transform: rotate(-180deg);
}
/* user image */
.navbar-container .navbar-content img.userImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  border: 1px solid var(--border-color);
}
/* mobile menu */
.menu{
  padding: 20px;
  background-color: var(--primary-color);
  /* background-color: var(--secondary-color);
  background-color: var(--third-color); */
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: all .3s ease-in;
  z-index: 99999999999 !important;
  display: flex;
  flex-direction: column ;
  gap: 20px ;
}
.menu.show{
  left: 0 !important;
  opacity: 2;
}
.menu-header{
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 10px; */
  border-bottom: 2px solid var(--secondary-color);
}
.menu .mobileMenu-btns div:nth-child(2){
  display: flex;
  gap: 10px;
}
.menu .mobileMenu-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:black;
}
.menu .mobileMenu-links a{
  color: var(--secondary-color);
  /* font-size: large; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--third-color);
  padding: 5px;
  border-radius: 4px;
  /* opacity: .8; */
}
.navbar-container .navbar-content .menu .icon{
  color: var(--third-color);
  transition-duration: var(--transition-duration);
}
.menu .icon:hover{
  transform: rotate(-90deg);
}
.menu-btns{
  display: flex;
  gap: 10px;
}
.menu-btns button{
  flex: 1;
}
.menu-btns button:hover{
  color: var(--third-color);
}
.menu-btns button:hover:after{
  transform: scaleX(1);
  color: var(--third-color);
  background-color: var(--secondary-color);
}